<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Basket Items</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% include 'navbar.html' %}

    <h1>Basket Items</h1>

    {% if basket_items %}
    <table>
        <thead>
            <tr>
                {% for column in basket_items[0].keys() %}
                    <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for basket_item in basket_items %}
                <tr>
                    {% for item in basket_item.values() %}
                        <td>{{ item }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No items found in this basket.</p>
    {% endif %}
</body>
</html>

