<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Total Spend Report</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    {% include 'navbar.html' %}

    <h1>Report - Total Spending by Shopper</h1>

    {% if shopper_totals %}
    <table>
        <thead>
            <tr>
                {% for column in shopper_totals[0].keys() %}
                    <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
	    {% for shopper_total in shopper_totals %}
                <tr>
                    {% for k,v in shopper_total.items() %}
                        <td>{{ v }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No shoppers found.</p>
    {% endif %}

    {% include 'footer.html' %}
</body>
</html>